      <video autoplay loop muted src="https://v4.cdnpk.net/videvo_files/video/free/video0468/large_watermarked/_import_615d3fa02ab983.72834788_FPpreview.mp4"></video>
      <div class="overlay-text">
        <h1>Bem-vindo ao TechAge</h1>
        <p>O melhor e mais rápido ensino de tecnologia você encontra aqui!</p>

      <div class="buttons">
        <button class="btn btn-custom">Saiba Mais</button>
        <button class="btn btn-info">Precisa de ajuda?</button>
    </div>
    </div>

      <div class="dark-overlay"></div>

      
      <div class="social-icons">
        <a href="https://www.instagram.com/liccysss/" target="_blank">
            <i class="fab fa-instagram"></i>
            <span>Instagram</span>
        </a>

        <a href="https://api.whatsapp.com/send?phone=55999389675&text=Olá! Vim através do TechAge. ^^" target="_blank">
            <i class="fab fa-whatsapp"></i>
            <span>WhatsApp</span>
        </a>

        <a href="https://www.facebook.com/alice.mezalira/" target="_blank">
            <i class="fab fa-facebook"></i>
            <span>Facebook</span>
        </a>
    </div>

