*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #e5e6e6 !important;
}
.container-fluid {
    height: auto;
    width: 62rem;
    background-color: white;
    border: none;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-fluid .col-sm-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1rem;
}

.col-sm-8 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

form .btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
form input, label{
    margin-top: .5rem;
}

.items_vet {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

}

.items_vet h5 {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 1rem;
    background-color: #e5e6e6;
    color: black;
}

@media screen and (min-width: 992px) {
    .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        max-width: 992px;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 992px) {
    .container-fluid {
        width: 100%;
    }
}