<!-- Titulo -->
<title>Saúde</title>

<!-- Style -->
<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    background-color: #FFFBE2;
  }
   body {
      margin: 0;
      padding: 0;
      font-family: Poppins; 
    }
   p {
      text-align: justify;
      margin-right: 20px;
      margin-left: 20px;

    }
img{
      margin-top: 20px;
      
    }
button {
      background-color: #9384D1;
      margin-left: 20px;
      color: white;
    }
img{
      margin-top: 20px;
      
    }
    button {
      background-color: #9384D1;
      margin-left: 20px;
      color: white;
    }
    h1 {
      text-align: center;
      text-size: 15px;
      margin-top: 20px;

    }
    .texto1 {
      font-size: 30px;
      text-align: center;
      font-weight: bold;
      

    }
    .texto2 {
      font-size: 30px;
      text-align: right;
      font-weight: bold;
      margin-bottom: 30px;
      display: inline-block;
      float: right;
      margin-right: 200px;
    }
    img{
      width: 150px;
      text-align: center;
      
      display: inline-block;
    }

</style>

<!-- Body -->
<h1>EM QUAL PARTE DO SEU CORPO VOCÊ POSSUI PROBLEMAS DE SAÚDE?</h1>
<a href="XXX"><br></a>
<div class="container-info">
  <div class="image-with-text">
    <p class="texto1">SISTEMA CARDIOVASCULAR</p>
    <div style="text-align: center;">
      <a href="/info/cardio">
        <img src="/img/selection/coracao.jpg">
      </a>
    </div>
  </div>
  <div class="image-with-text">
    <p class="texto1">SANGUE</p>
    <div style="text-align: center;">
      <a href="/info/sangue">
        <img src="/img/selection/sangue.jpg">
      </a>
    </div>
  </div>
  <div class="image-with-text">
    <p class="texto1">ESTÔMAGO</p>
    <div style="text-align: center;">
      <a href="/info/estomago">
        <img src="/img/selection/estomago.jpg">
      </a>
    </div>
  </div>
  <div class="image-with-text">
    <p class="texto1">FÍGADO</p>
    <div style="text-align: center;">
      <a href="/info/figado">
        <img src="/img/selection/figado.jpg">
      </a>
    </div>
  </div>
  <div class="image-with-text">
    <p class="texto1">PELE</p>
    <div style="text-align: center;">
      <a href="/info/pele">
        <img src="/img/selection/pele.jpg">
      </a>
    </div>
  </div>
  <div class="image-with-text">
    <p class="texto1">INTESTINO</p>
    <div style="text-align: center;">
      <a href="/info/intestino">
        <img src="/img/selection/intestino.jpg">
      </a>
    </div>
  </div>
  <div class="image-with-text">
    <p class="texto1">SISTEMA NERVOSO</p>
    <div style="text-align: center;">
      <a href="/info/nervoso">
        <img src="/img/selection/nervoso.jpg">
      </a>
    </div>
  </div>
  <div class="image-with-text">
    <p class="texto1">SISTEMA IMUNOLÓGICO</p>
    <div style="text-align: center;">
      <a href="/info/imunologico">
        <img src="/img/selection/imunologico.jpg">
      </a>
    </div>
  </div>
</div>