extends ../base

block title 
    title #{pageName}

block content
    .container 
        section.container_sec 
            .info_sec 
                h2 lorem impsum dolor sit
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo iure fugiat distinctio officiis minus at quaerat dolorum commodi libero aut minima sapiente earum iste nemo, ea itaque a debitis praesentium.
                .btn
                    input(type="button" value="Ler mais sobre")

            .img_sec    
                img(src="/img/woman_colica.png" alt="Mulher com cólica")
        hr
        main 
            .cards 
                .card 
                    img(src="/img/woman_remedios.png" alt="Remedio contraceptivos")
                    strong Suspeito
                .card 
                    img(src="/img/woman_gravida.png" alt="")
                    strong Suspeito 
            section 
                img(src="" alt="" srcset="")
                h3 Stetx 
                p sad 
                input(type="button" value="Saiba Mais")
