extends ../base

block title 
    title #{pageName}

block content
    .container 
        section.container_sec 
            .info_sec 
                h2 Lorem impsum dolor sit
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa illo animi nemo eligendi quas tempore facere corrupti adipisci quam qui. Quibusdam, cum veritatis? Ex, omnis aperiam quas natus quam consequuntur.Doloribus nam dolorum eos consectetur veniam sequi deleniti nemo suscipit minima pariatur explicabo obcaecati officia quod, placeat culpa laudantium, quaerat sed at tempora reiciendis officiis soluta debitis. Facilis, voluptatem reprehenderit?Quaerat dignissimos odio vero neque consequuntur commodi sed at, nostrum perferendis, minus alias eum nobis iusto doloribus voluptate. Tempore sunt maiores libero dignissimos similique doloremque velit asperiores nobis optio deleniti.
                .btn
                    a(href="#sos") 
                        input(type="button" value="Ler mais sobre")

            .img_sec    
                img(src="/img/woman_colica.png" alt="Mulher com cólica")
        hr.line_sec
        main.blog_cards
            .cards 
                .card
                    a(href="#")  
                        img(src="/img/woman_random-1.png" alt="Remedio contraceptivos")
                        strong Suspeito
                .card
                    a(href="#")  
                        img(src="/img/woman_gravida.png" alt="Remedio contraceptivos")
                        strong Suspeito
                .card
                    a(href="#")  
                        img(src="/img/woman_random-2.png" alt="Remedio contraceptivos")
                        strong Suspeito
                .card
                    a(href="#")  
                        img(src="/img/woman_gravida.png" alt="Remedio contraceptivos")
                        strong Suspeito

            article.card_rigth_sec
                .cards_rigth 
                    .card_rigth
                        .img_card_rigth
                            img(src="img/woman_random-1.png" alt="")
                        .info_card_rigth
                            h3 Lorem ipsum deoka dsa 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum repellat ea perferendis at provident, mollitia in deserunt, doloremque consequatur reiciendis ducimus labore. Quo in est ad expedita possimus, dolor optio.
                            .btn_card_rigth
                                a(href="#sos") 
                                    input(type="button" value="Saiba Mais")
                            
                    .card_rigth
                        .img_card_rigth
                            img(src="img/woman_random-1.png" alt="")
                        .info_card_rigth
                            h3 Lorem ipsum deoka dsa 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum repellat ea perferendis at provident, mollitia in deserunt, doloremque consequatur reiciendis ducimus labore. Quo in est ad expedita possimus, dolor optio.
                            .btn_card_rigth
                                a(href="#sos") 
                                    input(type="button" value="Saiba Mais")