<div class="card">
    <div class="card-left">
        <span>{{ autor }}</span>
        <a href="#">{{ title }}</a>
        <p>{{ description }}</p>
    </div>
    <div class="card-right">
        <img src="#" alt="Darth vader">
    </div>
</div>