<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal galactico</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;

            font-family: 'Segoe UI', sans-serif;
        }

        body {
            background-color: #e5e6e6 !important;
        }
        .container-fluid {
            height: auto;
            width: 62rem;
            background-color: white;
            border: none;
            padding: 2rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .container-fluid .col-sm-8 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        h1 {
            font-size: 1rem;
        }

        .col-sm-8 form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
        }

        form .btns {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        form input, label{
            margin-top: .5rem;
        }

        .items_vet {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;

        }

        .items_vet h5 {
            width: 100%;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 1rem;
            background-color: #e5e6e6;
            color: black;
        }

        @media screen and (min-width: 992px) {
            .container-fluid {
                display: flex;
                justify-content: center;
                align-items: center;
                height: auto;
                max-width: 992px;
                margin: 1rem auto;
                border-radius: 1rem;
            }
        }

        @media screen and (max-width: 992px) {
            .container-fluid {
                width: 100%;
            }
        }
        .card{
            width: 100%;
            border: 1px solid gray;
            -webkit-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
            box-shadow: 9px 9px 27px 0px rgba(0,0,0,0.75);
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1.5rem;
        }

        .card-left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 0.725rem;
            padding-right: 0.725rem;
        }

        .card-left > span{
            font-weight: 400;
        }

        .card-left > a{
            margin-top: 0.938rem;
            font-size: 1.563rem;
            text-decoration: none;
            color: black;
            font-weight: bold;
        }

        .card-left > p{
            color: rgb(70, 70, 70);
        }

        .card-right > img{
            width: 100%;
            height: 12.5rem;   
        }

        @media screen and (max-width: 480px){
            .card{
                display: flex;
                flex-direction: column;
            }
            .card-left{
                padding-top: 0.725rem;
            }
        }

        @media screen and (min-width: 480px) and (max-width: 720px){
            .card-left{
                width: 50%
            } 
        }

        @media screen and (min-width: 992px){
            .card{
                width: 62rem;
            }
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="col-sm-8" id="divQuadro">
            <h1> Portal galactico</h1>
            <form method="POST" action="/noticia">
                <p> 
                    <label for="lbNoticia">Noticia:</label> 
                    <input type="text" name="autor" id="inAutor" class="form-control" placeholder="Autor">
                    <input type="text" name="titleNoticia" id="inTitle" class="form-control" placeholder="Titulo">
                    <input type="text" name="contentNoticia" id="inContent" class="form-control" placeholder="Conteúdo">
                    <label for="lbImage">Imagem:</label> 
                    <input type="file" accept="image/*" class="form-control picture" id="picture-input">
                </p>
                <div class="btns"> 
                    <input type="submit" id="btAdd" class="btn btn-primary" value="Adicionar &#10003;">
                </div>
            </form>
        </div>
        <div class="items_vet"> 
            {{#notices}}
                {{>partials/cardNotice}}
            {{/notices}}
        </div>
    </div>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>